* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, Tahoma, sans-serif;
    line-height: 20px;
}

a {
    text-decoration: none;
}


img {
    border: none;
    vertical-align: bottom;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.w980 {
    width: 980px;
}

.w500 {
    width: 500px;
}

.w460 {
    width: 460px;
}

.w660 {
    width: 660px;
}

.w300 {
    width: 300px;
}

.w220 {
    width: 220px;
}

.w240 {
    width: 240px;
}

.w150 {
    width: 150px;
}

.auto {
    margin: 0 auto;
}

.m-t-5 {
    margin-top: 5px
}

.m-t-10 {
    margin-top: 10px
}

.m-t-15 {
    margin-top: 15px
}

.m-t-20 {
    margin-top: 20px
}
.m-t-30 {
    margin-top: 30px
}

.m-b-5 {
    margin-bottom: 5px
}

.m-b-10 {
    margin-bottom: 10px
}

.m-b-15 {
    margin-bottom: 15px
}

.m-b-20 {
    margin-bottom: 20px
}
.m-b-30 {
    margin-bottom: 20px
}

.m-r-5 {
    margin-right: 5px
}

.m-r-10 {
    margin-right: 10px
}

.m-r-15 {
    margin-right: 15px
}

.m-r-20 {
    margin-right: 20px
}

.m-r-30 {
    margin-right: 30px
}

.m-r-40 {
    margin-right: 40px
}

.m-l-5 {
    margin-left: 5px
}

.m-l-10 {
    margin-left: 10px
}

.m-l-15 {
    margin-left: 15px
}

.m-l-20 {
    margin-left: 20px
}

.m-l-30 {
    margin-left: 30px
}

.m-l-40 {
    margin-left: 40px
}

.p-l-5 {
    padding-left: 5px
}

.p-l-10 {
    padding-left: 10px
}

.p-l-15 {
    padding-left: 15px
}

.p-l-20 {
    padding-left: 20px
}

.p-r-5 {
    padding-right: 5px
}

.p-r-10 {
    padding-right: 10px
}

.p-r-15 {
    padding-right: 15px
}

.p-r-20 {
    padding-right: 20px
}


.p-t-5 {
    padding-top: 5px
}

.p-t-10 {
    padding-top: 10px
}

.p-t-15 {
    padding-top: 15px
}

.p-t-20 {
    padding-top: 20px
}

.p-b-5 {
    padding-bottom: 5px
}

.p-b-10 {
    padding-bottom: 10px
}

.p-b-15 {
    padding-bottom: 15px
}

.p-b-20 {
    padding-bottom: 20px
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.alignleft {
    text-align: left !important;
}

.aligncenter {
    text-align: center !important;
}

.alignright {
    text-align: right !important;
}

.alignfull {
    text-align: justify !important;
}

table td, table th {
    border: 1px solid #CCC;
}

.m-l-r-20 {
    margin-left:20px;margin-right:20px;
}

.m-l-r-10 {
    margin-left: 10px;
    margin-right: 10px;
}
