@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../fonts/Roboto-BoldItalic.eot#iefix') format('embedded-opentype'), url('../fonts/Roboto-BoldItalic.woff') format('woff'), url('../fonts/Roboto-BoldItalic.ttf') format('truetype'), url('../fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.eot#iefix') format('embedded-opentype'), url('../fonts/Roboto-Italic.woff') format('woff'), url('../fonts/Roboto-Italic.ttf') format('truetype'), url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxy';
    src: url('../fonts/OxyVietnam.eot#iefix') format('embedded-opentype'), url('../fonts/OxyVietnam.woff') format('woff'), url('../fonts/OxyVietnam.ttf') format('truetype'), url('../fonts/OxyVietnam.svg#OxyVietnam') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OxyBold';
    src: url('../fonts/OxyVietnamBold.eot#iefix') format('embedded-opentype'), url('../fonts/OxyVietnamBold.woff') format('woff'), url('../fonts/OxyVietnamBold.ttf') format('truetype'), url('../fonts/OxyVietnamBold.svg#OxyVietnamBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #009900;
    font-family: Oxy;
}

.hotline {
}

    .hotline li {
        float: left;
        margin-right: 50px;
    }

        .hotline li a, .hotline li a:visited {
            color: #FFF;
            font-family: 'Oxy', Arial, Tahoma;
            text-transform: uppercase;
        }

.cw {
    color: #FFF;
}

.b-g {
    background-color: #4C9B1A;
}

.c-g {
    color: #4C9B1A;
}

.site-name {
    text-transform: uppercase;
    font-family: 'OxyBold';
    font-size: 21px;
    color: #4C9B1A;
    line-height: 26px;
}

.header {
}

    .header .logo {
        width: 100px;
        float: left;
        margin-right: 10px;
    }

    .header .center {
        width: 680px;
        float: left;
    }

        .header .center h1 {
            float: left;
        }

        .header .center .search {
            float: right;
        }

        .header .center .input-search {
            padding: 4px 7px;
            background-color: #EFEFEF;
            border: 1px solid #CCC;
        }

        .header .center .button-search {
            color: #FFF;
            background-color: #4C9B1A;
            padding: 8px;
            cursor: pointer;
        }

    .header .right {
        width: 175px;
        float: right;
    }

.emergency {
    border: 3px solid #006233;
}

.emergency-title {
    color: #006233;
    font-family: OxyBold;
    padding: 7px 5px;
    text-align: center;
    text-transform: uppercase;
}

.emergency-phone {
    background-color: #006233;
    color: #FFF;
    padding: 14px 5px;
    font-family: OxyBold;
    font-size: 20px;
    text-align: center;
}

.ul-1 {
}

    .ul-1 .li-1 {
        float: left;
        margin-right: 20px;
        position: relative;
        display: inline-block;
    }

        .ul-1 .li-1 a, .ul-1 .li-1 a:visited {
            color: #006233;
            text-transform: uppercase;
            font-family: OxyBold;
        }

.li-2 {
    position: relative;
    float: left;
}

    .li-2 > a {
        float: left;
        padding: 7px;
        width: 198px;
        line-height: 20px;
    }

.ul-2 {
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 220px;
}

.ul-3 {
    position: absolute;
    left: 220px;
    width: 200px;
    top: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    background-color: #FFF;
}

.ul-4 {
    position: absolute;
    left: 200px;
    width: 400px;
    top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    background-color: #FFF;
}

.li-3 {
    position: relative;
}

    .li-3 a {
        float: left;
        padding: 7px;
        width: 176px;
        line-height: 20px;
    }

.li-4 a {
    width: 100%;
}

.ul-2 {
    z-index: 1;
}

.ul-2 {
    z-index: 2;
}

.menu-top {
    margin-top: 10px;
}

.ul-1 .li-1:hover .ul-2 {
    display: block;
}

.ul-2 > .li-2:hover .ul-3 {
    display: block;
}

.ul-3 > .li-3:hover .ul-4 {
    display: block;
}

.li-1 > a::after {
    font-family: Arial, sans-serif;
    content: '\2023';
    font-size: 20px;
    position: absolute;
    top: 7.25px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -10px;
    color: #444444;
    height: 13px;
    width: 13px;
    line-height: 13px;
    overflow: hidden;
}

.hasChild::after {
    content: "\203A";
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1em;
    font-weight: bold;
    float: right;
    margin-top: 4px;
}

.cat-home {
}

.cat-name {
    padding: 20px 0px;
}

    .cat-name a {
        font-family: OxyBold;
        font-size: 26px;
        text-transform: uppercase;
        color: #0A531D;
    }

.cat-home ul {
}

.cat-home .more {
    text-align: center;
    padding: 10px;
    border: 1px solid #333;
}

    .cat-home .more a {
        color: #333;
        text-transform: uppercase;
        font-family: OxyBold;
        font-size: 16px;
    }

        .cat-home .more a:hover {
            color: #0A531D;
        }

.cat-home ul li {
    width: 100%;
    float: left;
    clear: both;
    padding-bottom: 20px;
}

    .cat-home ul li:last-child {
        margin-right: 0px;
    }

    .cat-home ul li .image {
        width: 150px;
        float: left;
        margin-right: 15px;
    }

        .cat-home ul li .image img {
            width: 100%;
        }

    .cat-home ul li h4, .cat-home ul li time, .cat-home ul li .sapo {
        margin: 0px 0px 10px 0px;
        font-family: Oxy;
        font-size: 16px;
    }

    .cat-home ul li time {
        /* display: block; */
        /* clear: both; */
    }

    .cat-home ul li .img {
        width: 100%;
    }

    .cat-home ul li .title {
        color: #009900;
        font-family: OxyBold;
        font-size: 16px;
    }

.bg-cat {
    background-color: #F1F2F3;
}

.activity {
}

    .activity ul {
    }

        .activity ul li {
            width: 220px;
            margin-right: 10px;
            float: left;
            margin-bottom: 10px;
        }

    .activity .item {
    }

        .activity .item .image {
            width: 100%;
            position: relative;
        }

            .activity .item .image img {
                width: 100%;
            }

    .activity .hot {
    }


    .activity .item .time {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #b7b1b2;
        color: #000;
        padding: 10px;
        border: 2px solid #FFF;
        opacity: 0.8;
    }

        .activity .item .time .month {
            font-family: OxyBold;
            font-size: 14px;
            display: block;
            text-transform: uppercase;
        }

        .activity .item .time .day {
            font-family: OxyBold;
            font-size: 16px;
            text-align: center;
            width: 100%;
            float: left;
            margin-top: 5px;
        }

    .activity .hot .time {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #4BC9E4;
        color: #FFF;
        padding: 10px;
        border-bottom: 2px solid #FFF;
        border-top: none;
        border-left: none;
        border-right: none;
        opacity: 1;
    }

        .activity .hot .time .month {
            font-family: OxyBold;
            font-size: 18px;
            display: block;
            text-transform: uppercase;
        }

        .activity .hot .time .day {
            font-family: OxyBold;
            font-size: 24px;
            text-align: center;
            width: 100%;
            float: left;
            margin-top: 10px;
        }

    .activity h4 {
        margin: 7px 0px;
    }

        .activity h4 a, .activity h4 a:visited {
            color: #0A531D;
            font-family: OxyBold;
            font-size: 16px;
        }

    .activity .hot h4 a, .activity .hot h4 a:visited {
        font-size: 20px;
    }

    .activity ul li:nth-child(3) {
        clear: left;
    }

    .activity ul li:nth-child(2) {
        clear: right;
    }

.cat-right {
}

    .cat-right ul {
    }

        .cat-right ul li {
            clear: both;
            padding-bottom: 10px;
            display: block;
            width: 100%;
            float: left;
            border-bottom: 2px solid #f8f8f8;
            margin-bottom: 10px;
        }

            .cat-right ul li .image {
                width: 75px;
                float: left;
            }

                .cat-right ul li .image img {
                    width: 100%;
                }

            .cat-right ul li h4 {
                margin-left: 90px;
            }

                .cat-right ul li h4 a, .cat-right ul li h4 a:visited {
                    font-family: Oxy;
                    color: #0A531D;
                }

            .cat-right ul li:last-child {
                border-bottom: none;
            }

.footer {
    background-color: #4C9C1A;
    padding: 20px 0px;
    margin-bottom: 20px;
}

    .footer * {
        color: #FFF;
    }

    .footer .top {
    }

    .footer .bottom {
    }

        .footer .bottom .item {
            margin-right: 20px;
        }

            .footer .bottom .item h3 {
                font-family: OxyBold;
                font-size: 16px;
            }

            .footer .bottom .item p {
                font-family: Oxy;
                margin: 15px 0px;
            }

    .footer .copyright {
        text-align: center;
    }

        .footer .copyright a {
            color: #FFF;
        }

    .footer i.fa {
        margin-right: 7px;
    }

.networks {
    padding: 20px 0px;
}

    .networks .item {
        width: 320px;
        float: left;
        margin-right: 10px;
    }

        .networks .item .network-title {
            font-size: 16px;
            margin-bottom: 10px;
            color: #009900;
            font-family: OxyBold;
        }

        .networks .item:last-child {
            margin-right: 0px;
        }

    .networks .name {
        font-family: OxyBold;
        font-size: 26px;
        text-transform: uppercase;
        color: #0A531D;
        margin-bottom: 20px;
    }

.service-advance {
    margin-bottom: 10px;
}

    .service-advance .title {
        font-family: OxyBold;
        font-size: 26px;
        text-transform: uppercase;
        color: #0A531D;
        margin-bottom: 20px;
    }

    .service-advance ul {
    }

        .service-advance ul li {
            float: left;
            width: 300px;
            margin-right: 20px;
            text-align: center;
            margin-bottom: 20px;
        }

    .service-advance .a1 {
        background-color: #00B273;
    }

    .service-advance .a2 {
        background-color: #F26B51;
    }

    .service-advance .a3 {
        background-color: #F1CD00;
    }

    .service-advance .a4 {
        background-color: #04A6E5;
    }

    .service-advance .a5 {
        background-color: #373737;
    }

    .service-advance .a6 {
        background-color: #833650;
    }

    .service-advance ul li a, .service-advance ul li a:visited {
        color: #FFF;
        text-transform: uppercase;
        font-family: OxyBold;
        font-size: 18px;
        line-height: 45px;
    }

.news-list {
}

    .news-list .hot-news {
    }

        .news-list .hot-news ul {
        }

        .news-list .hot-news li:first-child {
            width: 100%;
            clear: both;
            display: block;
            float: left;
        }

        .news-list .hot-news li {
            width: 200px;
            float: left;
            margin-right: 20px;
        }

            .news-list .hot-news li .sapo {
                font-family: Oxy;
                margin: 10px 0px;
            }

            .news-list .hot-news li time {
                margin: 10px 0px;
                font-family: Oxy;
            }

            .news-list .hot-news li:last-child {
            }

            .news-list .hot-news li .image {
                width: 100%;
            }

                .news-list .hot-news li .image img {
                    width: 100%;
                }

    .news-list .latest-news {
        margin-top: 20px;
        padding-top: 20px;
    }

        .news-list .latest-news ul {
        }

        .news-list .latest-news li {
            clear: both;
            float: left;
            width: 100%;
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

            .news-list .latest-news li .image {
                width: 275px;
                float: left;
                margin-right: 20px;
            }

                .news-list .latest-news li .image img {
                    width: 100%;
                }

            .news-list .latest-news li:last-child {
                border-bottom: none;
            }

            .news-list .latest-news li time, .news-list .latest-news li .sapo {
                margin: 10px 0px;
                font-family: Oxy;
                display: block;
            }

    .news-list .hot-news li h4 {
        margin: 10px 0px;
    }

        .news-list .hot-news li h4 a {
            font-size: 16px;
            font-family: OxyBold;
        }

    .news-list .hot-news li:first-child h4 a {
        font-size: 22px;
    }

    .news-list .hot-news li:first-child h4 {
        margin: 10px 0px;
    }

#banner {
    /*min-width: 1200px;
    max-width: 1920px;*/
    width: 1800px;
    height: 530px;
}

    #banner li {
        width: 980px;
        height: 530px;
        float: left;
    }

        #banner li .cover {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 530px;
        }

        #banner li a {
            float: left;
            width: 100%;
            height: 100%;
        }

.branch {
    width: 720px;
    position: absolute;
    bottom: 25px;
    left: 500px;
    opacity: 0.8;
}

    .branch li {
        width: 360px;
        float: left;
        background-color: #CCC;
        text-align: center;
        padding: 15px 0px;
    }

        .branch li a, .branch li a:visited {
            font-family: OxyBold;
            color: #FFF;
            text-transform: uppercase;
            font-size: 18px;
        }

.tools {
    position: fixed;
    background-color: #FFF;
    padding: 20px 20px 0px 20px;
}

    .tools ul {
    }

        .tools ul li {
            border: 1px solid #21A9E5;
            margin-bottom: 30px;
            position: relative;
            padding: 15px 10px 10px 10px;
        }

            .tools ul li a, .tools ul li a:visited {
                color: #21A9E5;
                font-family: OxyBold;
                font-size: 16px;
                float: left;
                width: 100%;
                text-align: center;
                margin-bottom: 7px;
            }

            .tools ul li i {
                color: #21A9E5;
                font-size: 30px;
                position: absolute;
                background-color: #FFF;
                padding-left: 10px;
                padding-right: 10px;
            }

            .tools ul li label {
                display: block;
                width: 100%;
                text-align: center;
            }

@media(max-width:1720px) {
    .tools {
        top: 50px;
        right: 0px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0px;
    }

        .tools ul li {
            width: 100px;
        }

            .tools ul li i {
                top: -18px;
                left: 33px;
            }

            .tools ul li label {
            }

            .tools ul li a {
            }
}

@media(min-width:1720px) {
    .tools {
        top: 100px;
        right: 100px;
    }

        .tools ul li {
            width: 230px;
        }

            .tools ul li i {
                top: -18px;
                left: 90px;
            }

            .tools ul li label {
            }

            .tools ul li a {
            }
}

.adv-item {
    margin: 15px 0px;
}

.department {
    margin: 15px 0px;
    padding: 7px 10px;
    background-color: #4C9B1A;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

div.avatar {
    text-align: center !important;
}



#bannerBottom {
    width: 980px;
    height: 550px;
    overflow: hidden;
}

    #bannerBottom li {
        width: 980px;
        height: 550px;
        float: left;
    }

        #bannerBottom li .cover {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 530px;
        }

        #bannerBottom li a {
            float: left;
            width: 100%;
            height: 100%;
        }

.paging {
    float: right;
    clear: both;
    margin: 20px 0px;
}

    .paging a {
        padding: 5px 12px;
        border: 1px solid #009900;
        margin-right: 10px;
    }

        .paging a.selected {
            background-color: #009900;
            color: #FFF;
        }

.news-hot {
    background-color: #FFF;
    padding: 10px;
}

    .news-hot .h-l {
        width: 550px;
        float: left;
    }

    .news-hot .h-r {
        width: 410px;
        float: left;
        margin-left: 20px;
        margin-top: 10px;
    }

    .news-hot .h-l .img {
        width: 100%;
    }

    .news-hot .h-l h3 {
        margin-top: 10px;
    }

        .news-hot .h-l h3 a {
            font-size: 20px;
        }

.trian {
}

    .trian h3 a {
        font-family: OxyBold;
        font-size: 26px;
        text-transform: uppercase;
        color: #0A531D;
    }

    .trian ul {
        margin-top: 20px;
    }

        .trian ul li {
            float: left;
            width: 310px;
            margin-right: 20px;
        }

            .trian ul li:last-child {
                margin-right: 0px;
            }

            .trian ul li a {
            }

                .trian ul li a img {
                    width: 100%;
                }

.adv-stick {
    position: fixed;
    background-color: #FFF;
    width: 300px;
    left: 10px;
    top:250px;
    display:none;    
}

@media (min-width:1610px) {
    .adv-stick {
        display: block;
    }
}
